<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements/header">
    <title>BoardWrite</title>
</head>

<body>
<link rel="stylesheet" href="/css/write.css">
<script src="./ajax.js"></script>
<div th:replace="fragements/bodyHeader"></div>
<div class="app-header-space"></div>
<div class="app-layout">
    <h1>글쓰기</h1>
    <form id="board-form" th:action="@{/board/boardWrite}" th:object="${boardDto}" method="post"
          enctype="multipart/form-data">

        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type" th:name="type">
                <option value="f">자유게시판</option>
                <option value="u">유머게시판</option>
                <option value="r">공지사항</option>
            </select>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${boardDto.title}" required/>
        </div>

        <div class="form-group">
            <label for="file">File</label>
            <div class="drop-zone" ondrop="handleFileDrop(event)" ondragover="handleDragOver(event)">
                <div class="drop-zone__prompt">파일을 드래그앤드롭 하거나 클릭해서 파일을 선택하세요.</div>
                <input type="file" id="file" name="file" multiple class="drop-zone__input"/>
            </div>
            <div id="file-list-container"></div>
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="20" name="content"
                      th:text="${boardDto.content}" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">글 작성</button>
    </form>
</div>
<script>
    const fileInput = document.querySelector('#file');
    let fileList = [];
    const form = document.getElementById('board-form');
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        if(document.getElementById('title').value.trim() ===''){
            event.preventDefault();
            alert('제목을 입력해주세요');
        }
        if(document.getElementById('content').value.trim() ===''){
            event.preventDefault();
            alert('내용을 입력해주세요');
        }
        uploadFiles(fileList);
    });

    function uploadFiles(files) {
        const fileListContainer = document.getElementById("file-list-container");
        const formData = new FormData(document.getElementById("board-form"));

        for (let i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
            fileListContainer.innerHTML += `<div>${files[i].name}</div>`;
        }

        fetch('/board/boardWrite', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    alert('게시글이 등록되었습니다.');
                    window.location.href = "/";
                } else {
                    alert('게시글 등록에 실패했습니다.');
                }
            })
            .catch(error => {
                alert('게시글 등록에 실패했습니다.');
                console.error(error);
            });
    }

    fileInput.addEventListener('change', () => {
        fileList = [...fileList, ...fileInput.files];
        showFileList();
        fileInput.value = '';
    });

    function handleFileDrop(event) {
        event.preventDefault();
        const files = event.dataTransfer.files;

        // 중복 제거 후 파일 목록에 추가
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            if (!fileList.some((f) => f.name === file.name && f.size === file.size)) {
                fileList.push(file);
            }
        }

        showFileList();
    }

    function handleDragOver(event) {
        event.preventDefault();
        const dropZone = document.querySelector('.drop-zone');
        dropZone.classList.add('drop-zone--over');
    }

    function showFileList() {
        const fileListContainer = document.querySelector('#file-list-container');
        fileListContainer.innerHTML = '';

        const fileListElement = document.createElement('div');
        fileListElement.classList.add('file-list');

        for (let i = 0; i < fileList.length; i++) {
            const file = fileList[i];

            const fileListItemElement = document.createElement('div');
            fileListItemElement.classList.add('file-list__item');

            const fileListItemNameElement = document.createElement('div');
            fileListItemNameElement.classList.add('file-list__name');
            fileListItemNameElement.textContent = file.name;

            const fileListItemDeleteElement = document.createElement('button');
            fileListItemDeleteElement.classList.add('file-list__delete');
            fileListItemDeleteElement.textContent = '삭제';
            fileListItemDeleteElement.addEventListener('click', () => {
                fileList = fileList.filter((item) => item !== file);
                showFileList();
            });

            fileListItemElement.appendChild(fileListItemNameElement);
            fileListItemElement.appendChild(fileListItemDeleteElement);
            fileListElement.appendChild(fileListItemElement);
        }

        fileListContainer.appendChild(fileListElement);
    }

    const dropZone = document.querySelector('.drop-zone');

    dropZone.addEventListener('dragover', handleDragOver);
    dropZone.addEventListener('drop', handleFileDrop);
    dropZone.addEventListener('click', () => {
        fileInput.click();
    });
</script>
</body>

</html>