<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardWrite</title>
</head>
<body>
<h1>글쓰기</h1>
<form th:action="@{/board/boardWrite}" th:object="${boardDto}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type" th:name="type">
            <option value="f">자유게시판</option>
            <option value="u">유머게시판</option>
            <option value="r">공지사항</option>
        </select>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${boardDto.title}"/>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" rows="5" name="content" th:text="${boardDto.content}"></textarea>
    </div>
    <div class="form-group">
        <label for="file">File</label>
        <input type="file" class="form-control-file" id="file" name="file" multiple>
    </div>
    <button type="submit" class="btn btn-primary">글 작성</button>
</form>
</body>
</html>