.app-member-content-header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #e9ecef;

}


.member-content-list {
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #292929;
    border-bottom: 1px solid #e9ecef;
    list-style: none;
    font-size: 15px;

}
