<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements/header">
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<div th:replace="fragements/bodyHeader"></div>
<div class="app-header-space"></div>
<div class="app-layout">
    <div class="app-member-content-header"><i class="fas fa-lightbulb"></i>  최신글</div>

    <li class="member-content-list">
        <a th:href="@{/board/boardDetail}" style="text-decoration: none; color: black" >
            <div>
                <span class="member-content-span">제목</span>
            </div>
        </a>
        <div>
            <span class="member-content-span">컨텐츠내용</span>
        </div>
        <div>
            <span class="member-content-span">작성일, 작성자, 조회수</span>
        </div>
    </li>
</div>

<div th:replace="fragements/modal-login"></div>
<script type="text/javascript" src="modaljs.js"></script>
</body>
</html>